.background {
  animation: background-fade linear forwards;
  animation-timeline: view();

  animation-range-start: 100px;
  animation-range-end: 500px;
}
@keyframes background-fade {
  to {
    background-color: var(--color-primary);
  }
}
